
BODY {
	scrollbar-face-color: #397D18;
	scrollbar-3dlight-color: #000000;
	scrollbar-darkshadow-color: #000000;
	scrollbar-arrow-color: #102307;
	scrollbar-track-color: #102307;
	background-color: #0D1F08;
}
    img.a {
        max-height: 360px;
}
	
a.playing {
	color: #FFFFFF;
    text-decoration: none;
    background-color: #000276;
}

a:link  {
	color : #3B6EFF;
	text-decoration: underline;
}	

a:visited  {
	color : #3B6EFF;
	text-decoration : underline;
}

a:hover  {
	color : #FD009D;
	text-decoration : none;
	background-color:#000276;
}

a:active {
	color: #FF0000;
}

p:link {
	color:aliceblue;
}